<div>
  <h2>Applicants</h2>
  <jhi-alert></jhi-alert>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4 no-padding-left">
        <button class="btn btn-success" ui-sref="applicant.new">
          <span class="glyphicon glyphicon-plus"></span>
          <span class="hidden-xs-down">
                        Create Applicant
                    </span>
        </button>
      </div>
      <div class="col-xs-8 no-padding-right">
        <form name="searchForm" class="form-inline">
          <div class="input-group pull-right">
            <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Search">
            <span class="input-group-btn width-min">
                            <button class="btn btn-success" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
            <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-success" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
          </div>
        </form>
      </div>
    </div>
  </div>
  <br/>
  <div class="table-responsive">
    <table class="jh-table table table-striped">
      <thead>
      <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
        <th jh-sort-by="firstName"><span>First Name</span> <span class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="lastName"><span>Last Name</span> <span class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="title"><span>Title</span> <span class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="email1"><span>Email</span> <span class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="applicantStatus.name"><span>Applicant Status</span> <span
          class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="workStatus.name"><span>Work Status</span> <span class="glyphicon glyphicon-sort"></span></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="applicant in vm.applicants track by applicant.id">
        <td><a ui-sref="applicant-detail({id:applicant.id})">{{applicant.firstName}}</a></td>
        <td><a ui-sref="applicant-detail({id:applicant.id})">{{applicant.lastName}}</a></td>
        <td>{{applicant.title}}</td>
        <td>{{applicant.email1}}</td>
        <td>{{applicant.applicantStatus.name}}</td>
        <td>{{applicant.workStatus.name}}</td>
        <td class="text-right">
          <div class="btn-group flex-btn-group-container">
            <button type="submit"
                    ui-sref="applicant.edit({id:applicant.id})"
                    class="btn btn-primary btn-sm">
              <i class="fas fa-pencil-alt"></i>&nbsp;
              <span class="hidden-sm-down"></span>
            </button>
            <button type="submit"
                    ui-sref="applicant.delete({id:applicant.id})"
                    class="btn btn-warning btn-sm">
              <i class="fas fa-minus-circle"></i>&nbsp;
              <span class="hidden-sm-down"></span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center">
    <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage"
                    ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
  </div>
</div>
