<div>
  <h2>Companies</h2>
  <jhi-alert></jhi-alert>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4 no-padding-left">
        <button class="btn btn-success" ui-sref="company.new">
          <span class="glyphicon glyphicon-plus"></span>
          <span class="hidden-xs-down">
                        Create Company
                    </span>
        </button>
      </div>
      <div class="col-xs-8 no-padding-right">
        <form name="searchForm" class="form-inline">
          <div class="input-group pull-right">
            <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
            <span class="input-group-btn width-min">
                            <button class="btn btn-success" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
            <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-success" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
          </div>
        </form>
      </div>
    </div>
  </div>
  <br/>
  <div class="table-responsive">
    <table class="jh-table table table-striped">
      <thead>
      <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
        <th jh-sort-by="name"><span>Name</span> <span class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="website"><span>Website</span> <span class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="companyType"><span>Company Type</span> <span class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="companyStatus"><span>Company Status</span> <span class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="industry"><span>Industry</span> <span class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="revenue"><span>Revenue</span> <span class="glyphicon glyphicon-sort"></span></th>
        <th jh-sort-by="employee"><span>Employee</span> <span class="glyphicon glyphicon-sort"></span></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="company in vm.companies track by company.id">
        <td><a ui-sref="company-detail({id:company.id})">{{company.name}}</a></td>
        <td>{{company.website}}</td>
        <td>{{company.companyType}}</td>
        <td>{{company.companyStatus}}</td>
        <td>{{company.industry}}</td>
        <td>{{company.revenue}}</td>
        <td><span class="badge alert-success"> {{company.employee}}</span></td>
        <td class="text-right">
          <div class="btn-group flex-btn-group-container">
            <button type="submit"
                    ui-sref="company.edit({id:company.id})"
                    class="btn btn-primary btn-sm">
              <span class="glyphicon glyphicon-pencil"></span>
              <span class="hidden-sm-down"></span>
            </button>
            <button type="submit"
                    ui-sref="company.delete({id:company.id})"
                    class="btn btn-warning btn-sm">
              <span class="glyphicon glyphicon-remove-circle"></span>
              <span class="hidden-sm-down"></span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center">
    <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage"
                    ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
  </div>
</div>
